.page {
  padding: 7rem;
}

.info-title {
  text-align: center;
}

@media screen and (max-width: 769px) {
  .page {
    padding: 3rem;
  }
}

@media screen and (max-width: 426px) {
  .page {
    padding: 1rem;
  }
} ;


