.form-select-sm {
    margin-left: 6px;
}

.btn-primary {
    margin-left: 30px;
}

.btn-primary:focus{
    outline: none;
}

.btn-outline-secondary:last-of-type {
    margin-left: 6px;
    background-color: #efefef;
    color: #adabc8;
}

.form-label {
    margin-right: 16px;
}

.form-control-sm {
    margin-left: 24px;
}

.btn.btn-outline-secondary:disabled{
    border-color: #efefef;
}

.btn.btn-outline-secondary {
    border-color: #efefef;
}

.btn.btn-outline-secondary:hover {
   background-color: #ebe9e9;
}