.table th {
  border-bottom: 1px solid #1a1a1a;
}

.table th.arrow-up {
  background-image: url("../../images/up_arrow.png");
}
.table th.arrow-down {
  background-image: url("../../images/down_arrow.png");
}
.table th.arrow-default {
  background-image: url("../../images/default.png");
}

th.arrow-up,
th.arrow-default,
th.arrow-down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}



@media screen and (max-width: 453px) {
  .table > :not(caption) > * > * {
    font-size: 9px;
  }
  .table th.arrow-default {
    background-size: 15%;
  }
  .table th.arrow-up {
    background-size: 15%;
  }
  .table th.arrow-down {
    background-size: 15%;
  }
  .mt-5 {
    margin-top: 1.6rem !important;
  }
  .table {
    margin-bottom: 0.7rem;
  }
}

@media screen and (max-width: 376px) {
  .table > :not(caption) > * > * {
    font-size: 8px;
  }
}

@media screen and (max-width: 321px) {
  .table > :not(caption) > * > * {
    font-size: 7px;
  }
}