.pagination {
  display: -ms-grid;
  display: grid;
  gap: 3px;
  width: 70%;
  margin: 0 auto;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__item {
  background: transparent;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 0;
  height: 45px;
  width: 45px;
  position: relative;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#efefef));
  background-image: -o-linear-gradient(#efefef, #efefef);
  background-image: linear-gradient(#efefef, #efefef);
  background-repeat: no-repeat;
  background-size: 0% 45px;
  background-position-x: right;
  background-position-y: bottom;
  -webkit-transition: background-size 250ms;
  -o-transition: background-size 250ms;
  transition: background-size 250ms;
}

.pagination__item_active {
  border-radius: 4px;
  background-color: #558cff;
  pointer-events: none;
}

.pagination__item_active .pagination__item-span {
  color: #fff;
}

@media (hover: hover) {
  .pagination__item:hover {
  border-radius: 4px;
  background-size: 100% 45px;
  background-position-x: left;
  background-position-y: bottom;
}
}

.pagination__item-dots {
  color: #acaaca;
  background: transparent;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 0;
  height: 45px;
  width: 45px;
  position: relative;
  pointer-events: none;
}

.pagination__item-span {
  color: #acaaca;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pagination__arrow-btn {
  border: none;
  padding: 0;
  margin-left: 15px;
  font-size: 20px;
  height: 45px;
  width: 45px;
  border-radius: 4px;
  color: #acaaca;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: -o-linear-gradient(#fff, #fff);
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 0% 45px;
  background-position-x: right;
  background-position-y: bottom;
  -webkit-transition: background-size 250ms;
  -o-transition: background-size 250ms;
  transition: background-size 250ms;
}

.border-color {
  border-color: #ced4da;
}

@media screen and (max-width: 769px) {
  .pagination__item {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 610px) {
  .pagination__item {
    width: 34px;
    height: 34px;
  }
  .pagination__item_active {
    width: 34px;
    height: 34px;
  }
  .pagination__item-span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 451px) {
  .pagination__item {
    width: 25px;
    height: 25px;
  }
  .pagination__item_active {
    width: 25px;
    height: 25px;
  }
  .pagination__item-span {
    font-size: 0.6rem;
  }
}
